option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    # tells the proxy server to serve files in the static folder at the path /static.
    /static: static
  # Enable xray debugging to activate links in the enhanced health overview
  # so we can get access to more troubleshooting data.
  aws:elasticbeanstalk:xray:
    XRayEnabled: true

# These commands run before the application and web server are
# set up and the application version file is extracted
commands:
  01_download_node:
    cwd: /tmp
    test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
    command: 'curl -sL https://rpm.nodesource.com/setup_12.x | sudo bash -'
    ignoreErrors: false
  02_install_node:
    # flag -y for no-interaction installation
    command: 'sudo yum install -y nodejs'
    ignoreErrors: false
  03_update_node:
      cwd: /tmp
      test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
      command: 'sudo npm install -g n -y && sudo n stable'

# These commands are run after the application is extracted.
# Container commands are run from the staging directory, where your source code 
# is extracted prior to being deployed to the application server. Any changes 
# you make to your source code in the staging directory with a container command 
# will be included when the source is deployed to its final location.
container_commands:
  01_make_all_hooks_executable:
    command: 'find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;'
    ignoreErrors: false
  02_start_environment:
    command: 'source /var/app/venv/*/bin/activate'
    ignoreErrors: false
  03_install_requirements:
    # Start virtual env and install requirements.
    command: 'pip install -r requirements.txt'
    ignoreErrors: false
  04_run_migrations:
    # Start virtual env and install requirements.
    command: 'python mangage.py migrate'
    ignoreErrors: false
  
