/* title */
.legaltemplate h1 {
  color: #242e36;
}

/* subtitle */
.legaltemplate h2 {
  color: #242e36;
}

/* caption */
.legaltemplate h3 {
  color: #b2bbc2;
}

/* body */
.legaltemplate p {
  color: #242e36;
}
