<html>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'password_reset_email_style.css' %}">
    <head>
        <title>
            {% block title %}Password Reset{% endblock %}
        </title>
    </head>
    <body>
    <p>
    </p>
        {% block content %}
            Hi there {{ to_name }},

            Sorry to hear you got locked out of your account! Please use your iPhone to open the link below to reset your password.

            That should do it for you, but don't hesitate to let us know if you need any further assistance with this issue!

            Take care,

            {{ from_name }}

        {% endblock %}
    </body>
</html>